# Homework 5, Part 2: Answer questions with pandas

**Use the Excel file to answer the following questions.** This is a little more typical of what your data exploration will look like with pandas.

## 0) Setup

Import pandas **with the correct name** .

In [3]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [1]:
import pandas as pd

## 1) Reading in an Excel file

Use pandas to read in the `richpeople.xlsx` Excel file, saving it as a variable with the name we'll always use for a dataframe.

> **TIP:** You will use `read_excel` instead of `read_csv`. Trying `read_excel` the first time will probably not work, you'll get an error message. Be sure to read the error carefully: *you probably need to install a new library before it will work, and the error tells you what the library is named*.

In [2]:
df = pd.read_excel('richpeople.xlsx')

## 2) Checking your data

Display the number of rows and columns in your data. Also display the names and data types of each column.

In [3]:
df.shape

(1653, 30)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653 entries, 0 to 1652
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     1653 non-null   int64
 1   name                     1653 non-null   object
 2   rank                     1653 non-null   int64
 3   citizenship              1653 non-null   object
 4   countrycode              1653 non-null   object
 5   networthusbillion        1653 non-null   float64
 6   selfmade                 1651 non-null   object
 7   typeofwealth             1651 non-null   object
 8   gender                   1653 non-null   object
 9   age                      1590 non-null   float64
 10  industry                 1652 non-null   object
 11  IndustryAggregates       1652 non-null   object
 12  region                   1653 non-null   object
 13  north                    1653 non-null   int64
 14  politicalconnection      56 non-null     float64
 15  founder                  1653 non-null   int64
 16  generationofinheritance  1653 non-null   object
 17  sector                   1653 non-null   object
 18  company                  1645 non-null   object
 19  companytype              1646 non-null   object
 20  relationshiptocompany    1651 non-null   object
 21  foundingdate             1641 non-null   float64
 22  gdpcurrentus             0 non-null      float64
 23  sourceofwealth           1635 non-null   object
 24  notes                    683 non-null    object
 25  notes2                   111 non-null    object
 26  source                   1653 non-null   object
 27  source_2                 1416 non-null   object
 28  source_3                 523 non-null    object
 29  source_4                 17 non-null     object
dtypes: float64(5), int64(4), object(21)
memory usage: 387.5+ KB

In [5]:
df.dtypes

year                         int64
name                        object
rank                         int64
citizenship                 object
countrycode                 object
networthusbillion          float64
selfmade                    object
typeofwealth                object
gender                      object
age                        float64
industry                    object
IndustryAggregates          object
region                      object
north                        int64
politicalconnection        float64
founder                      int64
generationofinheritance     object
sector                      object
company                     object
companytype                 object
relationshiptocompany       object
foundingdate               float64
gdpcurrentus               float64
sourceofwealth              object
notes                       object
notes2                      object
source                      object
source_2                    object
source_3                    object
source_4                    object
dtype: object

## 3) Who are the top 10 richest billionaires? Use the `networthusbillion` column.

In [10]:
df.networthusbillion.sort_values(ascending = False)

184     76.0
226     72.0
79      64.0
1562    58.2
862     48.0
        ...
1598     1.0
1554     1.0
1596     1.0
904      1.0
370      1.0
Name: networthusbillion, Length: 1653, dtype: float64

## 4a) How many male billionaires are there compared to the number of female billionares?

> **TIP:** The last part uses `groupby`, but the count/percent part does not.
> **TIP:** When I say "average," you can pick what kind of average you use.

## 4b) What percent is that?

## 4c) Is the average wealth different for a female billionaire as compared to a male billionaire?

## 5a) What is the most common source/type of wealth?

## 5b) Is the most common source/type of wealth different between men and women?

> **TIP:** You know how to `groupby` and you know how to count how many times a value is in a column. Can you put them together???
>
> **TIP:** Use percentages for this, it makes it a lot more readable.

## 6) What companies have the most billionaires? Graph the top 5 as a horizontal bar graph.

> **TIP:** First find the answer to the question, then just try to throw `.plot()` on the end
>
> **TIP:** You can use `.head()` on *anything*, not just your basic `df`
>
> **TIP:** You might feel like you should use `groupby`, but don't! There's an easier way to count.
>
> **TIP:** Make the largest bar be at the top of the graph
>
> **TIP:** If your chart seems... weird, think about where in the process you're sorting vs using `head`

## 7) How much money do these top 5 billionaires have in total?

## 8) What are the top 10 countries with the most money held by billionaires?

I am **not** asking which country has the most billionaires - this is **total amount of money per country.**

> **TIP:** Think about it in steps - "I want them organized by country," "I want their net worth," "I want to add it all up," and "I want 10 of them." Just chain it all together.

## 9a) How old is an average billionaire?

## 9b) How old are self-made billionaires compared to non self-made billionaires?

## 10a) Who are the three youngest billionaires? Who are the three oldest?

## 10b) Make a graph of the distribution of ages.

> **TIP:** You use `.plot()` to graph values in a column independently, but `.hist()` to draw a [histogram](https://www.mathsisfun.com/data/histograms.html) of the distribution of their values

## 11) Make a scatterplot of net worth compared to age

It's more fun to do this in Altair as compared to matplotlib, but either is fine.

## 13) Make a bar graph of the wealth of the top 10 richest billionaires

> **TIP:** When you make your plot, you'll need to set the `x` and `y` or else your chart will look _crazy_
>
> **TIP:** x and y might be the opposite of what you expect them to be